@use "sass:math";

$page-width: 700px;
$page-padding: 40px;
$theme-color: #66ccff;

body {
  background-color: $theme-color;
}

.app {
  margin: 0 auto;
  width: $page-width;
  padding: 40px 0;
}

.data {
  $height: 100px;

  display: flex;
  height: $height;
  box-sizing: border-box;

  padding: 0 20px;

  h1 {
    height: $height;
    line-height: $height;
    margin: 0;
    font-size: 60px;
    flex-grow: 1;
  }

  .score-block-list {
    height: $height;
    display: flex;

    .score-block {
      $margin: 8px;
      height: $height - 2 * $margin;
      margin: $margin;

      width: 200px;
      padding: 10px;
      box-sizing: border-box;
      background-color: lightyellow;
      border-radius: 12px;

      text-align: center;

      .label {
        font: 20px bold;
      }

      .score {
        font: 20px bold;
        margin-top: 6px;
      }
    }
  }
}

.main {
  $block-length: 150px;
  $block-padding: 20px;
  $shadow-offset: 6px;
  $board-length: 4 * $block-length + 4 * $block-padding;

  .grid {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    justify-items: center;
    align-items: center;

    position: relative;

    margin: 0 auto;
    padding: 0.5 * $block-padding;
    width: $board-length;
    height: $board-length;
    background-color: $theme-color;

    .cell {
      width: $block-length;
      height: $block-length;
      line-height: $block-length;
      background-color: white;
      font-size: 0;
    }
  }

  .tile-list {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0 auto;
    padding: 0.5 * $block-padding;
    width: $board-length;
    height: $board-length;

    .tile {
      position: absolute;

      width: $block-length;
      height: $block-length;
      line-height: $block-length;
      background-color: lightyellow;
      font-size: 60px;
      text-align: center;

      box-shadow: $shadow-offset $shadow-offset 0 0;
      transform: translate(-$shadow-offset * 0.5, -$shadow-offset * 0.5);
      animation: show 0.2s;
    }

    @for $row from 1 through 4 {
      @for $col from 1 through 4 {
        .tile-#{$row}-#{$col} {
          top: ($row - 1) * ($block-length + $block-padding) + $block-padding;
          left: ($col - 1) * ($block-length + $block-padding) + $block-padding;
          transition:
            top 0.2s,
            left 0.2s;
        }
      }
    }

    @for $times from 1 through 16 {
      $number: math.pow(2, $times);
      $color: 4 * $times;
      .tile-color-#{$number} {
        background-color: rgb(196 + $color, 196 + $color, 64 - $color);
      }
    }

    @keyframes show {
      0% {
        box-shadow: none;
        transform: translate(0, 0);
      }

      100% {
        box-shadow: $shadow-offset $shadow-offset 0 0;
        transform: translate(-$shadow-offset * 0.5, -$shadow-offset * 0.5);
      }
    }
  }
}

.footer {
}

.game-over-mask,
.pause-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000a;
  display: none;

  &.active {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show 0.5s;
    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  &.inactive {
    opacity: 0;
    animation: disappear 0.5s;
    @keyframes disappear {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  .panel {
    $border: 30px;

    width: 300px;
    height: 300px;
    background-color: #6cf;
    box-sizing: border-box;
    border-radius: $border;
    padding: $border;

    text-align: center;

    .title {
    }

    .button {
      height: 1lh;
      line-height: 50px;
      background-color: white;
      margin: 30px 15px;

      border-radius: 0.3lh;

      font-size: 24px;
      transition: background-color 0.2s;

      user-select: none;

      &:hover {
        cursor: pointer;
        background-color: grey;
      }
    }
  }
}
